*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s;
}
:root
{
    /* bg-COLOURS */
    --white--clr: #fff;
    --black--clr: #000;
    --yellow--clr: #E6C744;
    /* text-COLOURS */
    --gray--clr: #C2C8DA;
    /* FONT SIZE */
    --font-size-22px: 22px;
    --font-size-24px: 24px;
    --font-size-30px: 30px;
    --font-size-32px: 32px;
    --font-size-36px: 36px;
    --font-size-40px: 40px;
    --font-size-48px: 48px;
    --font-size-55px: 55px;
    --font-size-96px: 96px;
}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pointer,
a,
button
{
    cursor: pointer;
}
/* HEADER START */
header
{
    width: 100%;
    padding: 40px 100px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header nav ul
{
    gap: 64px;
}
header nav ul li a
{
    color: var(--black--clr);
    font-size: var(--font-size-22px);
    font-weight: lighter;
    padding: 5px 10px;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
header nav ul li a:hover
{
    border-bottom: 3px solid var(--black--clr);
}
.black-btn
{
    background-color: var(--black--clr);
    color: var(--white--clr);
    border-radius: 7px;
    padding: 14px 20px;
    border: 3px solid var(--black--clr);
}
.black-btn:hover
{
    background-color: transparent;
    color: var(--black--clr);
    border-radius: 50%;
}
header.mobile
{
    display: none;
}
@media screen and (max-width: 1450px)
{
    header
    {
        padding: 40px;
    }   
    header nav ul
    {
        gap: 24px;
    } 
}
@media screen and (max-width: 1200px)
{
    header.desktop
    {
        display: none;
    }
    header.mobile
    {
        display: flex;
        background: blue;
    }
}
/* HEADER END */


/* MAIN START */
/* MAIN END */


/* FOOTER START */
footer
{
    position: absolute;
    bottom: 0;
}
footer .footer-left-container img.logo
{
    margin-bottom: 32px;
}
footer p
{
    color: var(--gray--clr);
    font-size: var(--font-size-24px);
}
footer .social-icons-container
{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 32px;
}
footer a
{
    border-radius: 15px;
    padding: 16px;
    background-color: var(--yellow--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
}
footer a img
{
    height: 20px;
    background-color: var(--yellow--clr);
}
/* FOOTER END */