*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s;
}
:root
{
    /* bg-COLOURS */
    --white--clr: #fff;
    --black--clr: #000;
    --yellow--clr: #EBD96B;
    /* text-COLOURS */
    --gray--clr: #7F7F7F;

}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pointer,
a,
button
{
    cursor: pointer;
}